html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100vh; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  background: none;
  position:  absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
    fill-opacity: 60%;
    stroke: white;
    fill: steelblue;
}

